#result{
  background-color:#CDA5AD;  
  padding: 20px 0px 20px 0px;
}
body{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}
h1{
    color: #0557c9;  
}
h2{
    color: rgb(30, 102, 170);
}