#display{
  background-color:#EED8DA;  
  padding: 20px 0px 20px 0px;
  color: #2E5E8F;
  font-size: 35px;
  padding-left: 20px;
  display: none;

  
}
body{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px; 
    margin-bottom: 50px;  
}
header{
    background-color:#EED8DA ;
    height: 100px;
    font-size: 60px;
    color:#2E5E8F;
}
#footer{
    background-color: #EED8DA;
    height: 50px;
    font-size: 15px;
    color: #2E5E8F;
    text-size-adjust:inherit;
    text-align: center; 
}
img{
    border-radius: 8px;
}
#form{
    border-radius: 4px;
    border: 4px solid #94443C;
    margin: 10px;
    padding: 10px;
    width: 50px;
    color: #2E5E8F;
}
h1{
    color:#2E5E8F;  
}
h2{
    color:#94443C;
}